/CVTDBChannelEdit/Debug/*
/CVTDBChannelEdit/CVTDBChannelEdit/Debug/*
/CVTDBChannelEdit/Release/*
/CVTDBChannelEdit/CVTDBChannelEdit/Release/*
/CVTDBChannelEdit/ipch/*
/CVTDBChannelEdit/CVTDBChannelEdit.sdf

